<html xmlns:th="http://www.thymeleaf.org">

<body>
	<h1>Prodotti</h1>
	<form th:action="@{/products}" method="get">
		<input type="text" name="query" placeholder="Cerca prodotti..." th:value="${param.query}">
		<button type="submit">Cerca</button>
	</form>

	<table>
 <thead>
    	<tr>
      		<th>ID</th><th>NAME</th><th>PRICE</th>
    	</tr>
  		</thead>
  		<tr th:each="p: ${products}">
      		<td th:text="${p.id}"></td>
      		<td th:text="${p.name}"></td>
      		<td th:text="${#numbers.formatDecimal(p.price, 1, 2)}"></td>
    	</tr>
    </table>
</body>
</html>